/* Root pseudo-class defining color scheme */
:root {
    --primary-color: #d1d1e0;
    --secondary-color: #001a33;
    --tertiary-color: #336699;
}

/* default page style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default body style */
body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* utility classes */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* --------------------------------------------- */
/* Header Style */
/* --------------------------------------------- */
header {
    padding: 10px 35px;
    background-color: var(--tertiary-color);
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    opacity: 0.9;
}

/* style for h1 inside <header> */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* style for anchor elements in the header */
header a {
    text-decoration: none;
    color: var(--primary-color);
}

/* style for <nav> elements in the header */
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
    text-decoration: underline;
}

/* --------------------------------------------- */
/* Section Style */
/* --------------------------------------------- */
section { 
    padding: 60px;
}

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-right: 3px solid;
    padding: 10px 25px 20px 5px;
    text-align: left;
    margin: 10px 25px 10px 25px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
}

.primary-border {
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}

/* --------------------------------------------- */
/* Hero Style */
/* --------------------------------------------- */
.hero {
    background-image: url(../images/cherryblossoms.jpg);
    background-size: cover;
    background-position: 70%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 150px;
}

/* --------------------------------------------- */
/* About Me Style */
/* --------------------------------------------- */
.about-me{
    background: var(--primary-color);
    display: inline-flex;
    flex-direction: row;
}
.about-me-wrapper {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.about-me-info {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.about-me img{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 15%;
    justify-content: left;
}

/* --------------------------------------------- */
/* Projects Style */
/* --------------------------------------------- */
.projects {
    background: var(--primary-color);
    display: inline-flex;
    flex-direction: row;
}
.project-grid-wrapper {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.project-grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    color: var(--secondary-color);
    font-size: 1.2rem;
    grid-gap: 20px;
    grid-auto-flow: dense;
}
.project-grid-item {
    padding: 25px 0;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.project-grid-item img{
    width: 100%;
    vertical-align: middle;
}

.project-grid-item p {
    background: lightgrey;
    color: var(--secondary-color);
    font-size: small;
}

.large {
    grid-column: span 2;
    grid-row: span 2;
}

.project-caption {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 2px;
    width: 50%;
    opacity: 0.85;
    border-radius: 5px;
    flex-wrap: wrap;
}

.project-caption h3 {
    background: lightgrey;
    color: var(--secondary-color);
}

/* Add an effect when hovering on a project to emphasize cursor position */
.project-grid-item:hover {
    content: "";
    background: ivory;
    opacity: 0.85;
    border: 5px solid var(--tertiary-color);
}

/* --------------------------------------------- */
/* Contact Me Style */
/* --------------------------------------------- */
.contact {
    background: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    flex: 0 1;
}
.contact-wrapper {
    /* display: inline-flex; */
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: left;
    flex-wrap: wrap;
}
.contact h2 {
    color: var(--secondary-color);
}

.contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
}

.contact-grid-container {
    padding: 25px 0;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    color: var(--secondary-color);
    font-size: 1.2rem;
    grid-gap: 20px;
    grid-auto-flow: dense;
    flex-wrap: wrap;
}
.contact-info-item {
    margin: auto;
    padding: auto;
    width: 80%;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    color: var(--primary-color);
    flex-wrap: wrap;
}

.contact-info-item a {
    color: var(--primary-color);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /* This will be applied on any screen smaller than 980px */
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .section-title {
        width: 80%;
    }
    .about-me img {
        width: 25%;
    }
    .section-title {
        font-size: 35px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    /* This will be applied on any screen between 768px and 575px */
    section {
        padding: 30px 15px;
    }
    .section-title {
        font-size: 30px;
    }
    .about-me img {
        width: 35%;
    }
    .project-grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .project-grid-item {
        flex: 1 1;
    }
    .project-grid-item.large {
        flex: 1 1;
        grid-column: 1 / -1;
    }
    .project-caption {
        font-size: 15px;
        width: 75%;
    }
    .contact-grid-container {
        grid-template-columns: 1fr;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* This will be applied on any screen smaller than 575px */
    .section-title {
        width: 75%;
        font-size: 25px;
        justify-content: left;
        text-align: left;
        flex: 0 1;
    }
    .projects {
        flex: 0 1;
    }
    .project-grid-container {
        grid-template-columns: 1fr;
    }
    .project-grid-item.large {
        grid-column: 1;
    }
    .about-me img {
        width: 45%;
    }
    .contact {
        flex: 0 1;
    }
    .contact-info-item {
        font-size: 13px;
    }
}